{
  "presets": [
    ["es2015", {"modules": false}],
    "react"
  ],
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }],
    //["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
    "react-hot-loader/babel" // 添加HMR支持
  ]
}